.table_body{
  border: solid;
  border-style: solid;
  border-width: 2px;
  border-color:  #DDD;
  background-color: rgba(255, 255, 255, 0.8);
  min-height:  5vh;
}

.table_header{
  font-weight: bold;
}

a:link {color:rgb(0, 90, 165);}      /* unvisited link */
a:visited {color:rgb(0,147,187);}  /* visited link */
a:hover {color:blue;}  /* mouse over link */
a:active {color:rgb(0, 90, 165);}  /* selected link */

.main{
  background-color: #DDD;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding: 10px;
  perspective: 900px;
}

@keyframes rotation2 {
  0% {transform: rotateY(90deg);}
  100% {transform: rotateY(0deg);}
}

.main2{
  animation-name: rotation2;
  -ms-animation-name:none;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  perspective: 900px;
}

@keyframes rotation {
  0% {
    -ms-transform: rotate(0deg);
    transform: rotateX(50deg);
  }
  100% {
    -ms-transform: rotate(0deg);
    transform: rotateX(0deg);
  }
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN_r8OVuhpOqc.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

.title_row{
    transform: rotateX(50deg);
    background-color: white;
    border-radius: 5px;
    animation-name: rotation;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

#title{
  text-align: center;
}
.dropdown-toggle{
  border: rgb(0, 90, 165);
  border-style: solid;
  border-radius: 5px;
}

h1,h2,h3 {
  font-family: 'Calibri Light','Open Sans', sans-serif;
  font-weight: 300;

  color: rgb(0, 90, 165);
}

.mainText{
  font-family: 'Calibri Light','Open Sans', sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: rgb(0,147,187);
}